@model Web.Models.Flights.FlightsCreateViewModel

@{
    ViewData["Title"] = "CreateFlight";
}

<h1>Create</h1>

<h4>Flight</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateFlight">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocationFrom" class="control-label"></label>
                <input asp-for="LocationFrom" class="form-control" />
                <span asp-validation-for="LocationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocationTo" class="control-label"></label>
                <input asp-for="LocationTo" class="form-control" />
                <span asp-validation-for="LocationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TakeOffTime" class="control-label"></label>
                <input asp-for="TakeOffTime" class="form-control" />
                <span asp-validation-for="TakeOffTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LandingTime" class="control-label"></label>
                <input asp-for="LandingTime" class="form-control" />
                <span asp-validation-for="LandingTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxPassagerCapacity" class="control-label"></label>
                <input asp-for="MaxPassagerCapacity" class="form-control" />
                <span asp-validation-for="MaxPassagerCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MaxBussinesCapacity" class="control-label"></label>
                <input asp-for="MaxBussinesCapacity" class="form-control" />
                <span asp-validation-for="MaxBussinesCapacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PilotName" class="control-label"></label>
                <input asp-for="PilotName" class="form-control" />
                <span asp-validation-for="PilotName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label">Nationality</label>
                <div class="col-md-10">
                    <select asp-for="Type" asp-items="Html.GetEnumSelectList<Data.Enums.TypesOfPlane>()">
                        <option selected="selected" value="">Please select</option>
                    </select>
                    <span asp-validation-for="Type" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}